@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
}

.nav-bar {
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: start;
}

.circle {
  font-weight: bold;
  font-style: italic;
  position: relative;
  top: 10px;
  border-radius: 100%;
  background: #f84342;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  color: #FFF;
  font-size: 10px;
  line-height: 16px;
  transform: rotate(11deg);
  -ms-transform: rotate(11deg); /* IE 9 */
  -webkit-transform: rotate(11deg); /* Opera, Chrome, and Safari */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slogan {
  width: 60%;
  margin-top: 30px;
  text-align: center;
  font-style: italic;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: auto;
  margin: 5px;
  font-size: 25px;
}

.bottom-border {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  height: 120px;
}

.quote-container {
  margin: auto;
  margin-top: 25px; 
  width: 80%;
  font-weight: bold;
}

.quote-id {
  font-size: 30px;
}

.quote-saying {
  font-size: 50px;
}

.quote-author, .quote-id {
  font-style: italic;
}

.quote-author {
  text-align: right;
  font-size: 30px;
}

.id-span {
  font-style: normal;
  color: rgba(0,0,0,0.1);
}

.underline {
  text-decoration: underline;
}

.footer-container {
  background: black;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 0px; 
  height: 50px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.links {
  text-align: right;
  font-size: 15px;
  color: white;
}

.links a {
  text-decoration: none;
  color: gray;
}

.more-button {
  background: #f84342; 
  border: 1px solid white;
  border-radius: 25px;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
}

.more-button:hover {
  background: #9c2929;
  transition: 0.5s;
}

.more-button:active {
  transform: translateY(2px);
}
